*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: none; 
}
header nav h1{
    font-size: 45px;
    background-color: rgb(226, 123, 123);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
header nav i{
    margin-right: 10px;
}
main{
    min-height: 80vh;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}
main form{
    display: flex;
    justify-content: center;
    align-items: center; 
}
main form input{
    flex-grow: 1;
    font-size: 20px;
    /* border: none; */
    /* border: 1px solid  rgb(226, 123, 123); */
    padding: 8px;
}
main form button{
    font-size: 20px;
    background-color:  rgb(226, 123, 123);
    color: white;
    border: 3px solid;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}
footer{
    font-size: 20px;
    background-color: rgb(226, 123, 123);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    width: 100%;
}

.result{
    font-size: 18px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 10px;
    max-width: 800px;
}
.result p{
    margin: 10px;
    padding: 3px;
}
.result h2{
    margin-top: 10px;
    padding: 3px;
}
.result p[class="speech"]{
    font-style: italic;
    color: #808080;
    font-weight: 700;
}
.result button a{
    text-decoration: none;
    color: white;
}
.result button{
    border: none;
    font-size: 20px;
    background-color:rgb(226, 123, 123) ;
    padding: 10px;
    border-radius: 8px;
    margin-top: 15px;
}

@media screen and (max-width:320px){
    main form{
        flex-direction: column;
    }
    main form button{
        margin-top: 5px;
    }
    
}